.cart {
    background-color: white;
    width: 80vw;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}

.pay {
    font-size: xx-large;
}

.deliver {
    margin-bottom: -3vh;
}


.discount {
    background-color: blue;
    color:white;
    text-align: center;
    margin-right: 10vw;
    margin-left: 10vw;
    font-weight: bold;

}